* {
    margin: 0;
    padding: 0;
   
}

body{
    font-family: 'Fasthand', cursive;
    font-family: 'Open Sans', sans-serif;
}

/* common shared tags */

.heading_h1 {
    color: #272727;
    font-family: fasthand;
    font-size: 25px;
    font-style: normal;
    font-weight: 800;
}

.button_primary{
    background-color: #E55473;
    border: 0;
    border-radius: 5px;
    padding: 12px 20px;
    color: white;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
/* header part */

.banner {
    display: flex;
    background-color: #E554731A;
    padding: 50px 200px 0 ;
    font-family: Lato;


}

.banner_left {
    padding-top: 120px;
    margin-right: 50px;
}

.banner_left h1 {
    font-family: fasthand;
    color: #272727;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner_left p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.banner_right {
    padding-top: 30px;
}

.banner_right img {
    width: 400px;
}

/* bonus part */

.bonus_part {
    margin: 100px 220px ;
}

.bonus_part_text {
    text-align: center;
}

.bonus_part_text h1 {
    padding-bottom: 10px;
}

.bonus_part_text p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 50px;
}

.bonus_part_images {
    display:flex;
    text-align: center;
    
}

.bonus_part_images h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #272727;
    text-decoration: underline;
}

/* .img_1{
    margin-left: 20px;
} */

.img_3{
    margin-left: 20px;
}

.img_2{
    margin-left: 20px;
}


.img_1 img{
    width: 200px;
    height: 300px;
    background-color: #A7216226 ;
    border-radius: 300px 300px 0px 0px;
    padding: 50px 50px 0;
}

.img_2 img{
    width: 200px;
    height: 300px;
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    padding: 50px 50px 0;
}

.img_3 img{
    width: 200px;
    height: 300px;
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    padding: 50px 50px 0;
}


/* .img1{
    background-color: #A7216226;
    border-radius: 300px 300px 0px 0px;
    padding: 40px 40px 0;
    margin-left: 170px;
}

.img2{
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    padding: 40px 40px 0;
}

.img3{
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    padding: 40px 40px 0;
} */