* {
    margin: 0;
    padding: 0;
   
}

body{
    font-family: 'Fasthand', cursive;
    font-family: 'Open Sans', sans-serif;
}

/* common shared tags */

.heading_h1 {
    color: #272727;
    font-family: fasthand;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
}

.section_p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: Lato;
}

.button_primary{
    background-color: #E55473;
    border: 0;
    border-radius: 5px;
    padding: 10px 18px;
    color: white;
    font-size: 14px;
    font-family: Lato;
}

.span_style{
    color: #E55473;
}

/* header part */
.banner {
    display: flex;
    background-color: #E554731A;
    padding: 100px 170px 0;
    font-family: Lato;
}

.banner_left {
    padding-top: 20px;
    margin-right: 50px;
}

.banner_left h1 {
    font-family: fasthand;
    color: #272727;
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 20px;
}



.banner_right img {
    width: 400px;
}

/* bonus part */

.bonus_part {
    margin: 100px 170px ;
}

.bonus_part_text {
    text-align: center;
}

.bonus_part_text h1 {
    padding-bottom: 10px;
}

.bonus_part_images {
    display:flex;
    align-items: center;
}

.bonus_part_images h3{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #272727;
    text-decoration: underline;
}


.img_3{
    margin-left: 20px;
}

.img_2{
    margin-left: 20px;
}


.img_1 img{
    width: 220px;
    height: 300px;
    background-color: #A7216226 ;
    border-radius: 300px 300px 0px 0px;
    padding: 50px 50px 0;
}

.img_2 img{
    width: 220px;
    height: 300px;
    background-color: #0597A026;
    border-radius: 300px 300px 0px 0px;
    padding: 50px 50px 0;
}

.img_3 img{
    width: 220px;
    height: 300px;
    background-color: #477D1126;
    border-radius: 300px 300px 0px 0px;
    padding: 50px 50px 0;
}


/* hot_deal part */

.hot_deal_part{
    background: #E554730D;
    padding: 100px  300px;
    display: flex;
    align-items: center;
}

.hot_deal_left{
    text-align: center;
    width: 50% ;
    margin: 0 auto;
}
.hot_deal_left p{
    font-family: Lato;
    color: #27272799;
    margin: 20px 0 30px  ;
}

.hot_deal_right{
    display: block;
}

.hot_deal_right img{
    width: 220px;
}

/* instagram part */
.instagram_part{
    margin: 100px 170px ;
    justify-content: ;
}

.instagram_part_text{
    text-align: center;
}

.instagram_part_images{

}

.instagram_part_images img{
    width: 239px;
    padding: 5px;
}

/* latest_deals_part */
.latest_deals_part{
    margin: 100px 170px;
    align-items: center;
    background-image: url('images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    height: 320px;
    background-size: cover;
}

.latest_deals_part_text{
    text-align: center;
    padding-top: 100px;
}

.latest_deals_part_input{
    text-align: center;
}
.latest_deals_part_input input{
    font-size: 15px;
    font-family: Lato;
    border: 0;
    border-radius: 5px;
    padding: 10px 18px;
    width: 400px;
    margin-right: 10px;
}


/* footer part */

.footer_part{
    text-align: center;
    padding: 100px;
    background-color: #bbb;
}

.footer_part h2{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
    font-family: Lato;
}

